"*":
  core:
    telemetryConsent: "no"
  editor:
    fontFamily: "Fira Code"
  "exception-reporting":
    userId: "ba6c560c-5314-4883-8a6c-9a1eee6d3772"
  "linter-ui-default":
    panelHeight: 69
  welcome:
    showOnStartup: false
